@{
    ViewBag.Title = "Capstone Portal";
}
<h2>@ViewBag.Title.</h2>

<p>This website is created for Sheridan College. It is done by MassIV group that has the following members:</p>
<ul>
    <li>Shashank Singh</li>
    <li>Levon Aslanian</li>
    <li>Rohit Dutta</li>
    <li>Augusto Karlo Dela Merced</li>
</ul>
