@{
    ViewBag.Title = "Capstone Portal";
}

<link href="~/Content/Images/HomePage/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/prettyPhoto.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/animate.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/main.css" rel="stylesheet" />
<link href="~/Content/Images/HomePage/responsive.css" rel="stylesheet" />

<section id="our-team">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Meet The Team</h2>
                <p>From athletes to musicians and philosophers — we're a pretty lively bunch here at MASSIV! What do we share in common (beyond our effervescent charm and intelligence)?! We all feel pretty darn good about delivering a product that's changing the way IT pros and tech/ non-tech vendors do their jobs.</p>
            </div>
        </div>
        <div id="team-carousel" class="carousel slide" data-interval="false">

            <div class="carousel-inner team-members">
                <div class="row item active">
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="~/Content/Images/HomePage/teampik/1.png" alt="team member" />
                            <h4>Shashank Singh</h4>
                            <h5>Project Manager</h5>
                            <p>Closely with client to make sure that the scope and direction of each project is on schedule, as well as other departments for support.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="~/Content/Images/HomePage/teampik/2.png" alt="team member" />
                            <h4>Rohit Dutta</h4>
                            <h5>Sr. Web Developer</h5>
                            <p>Implementing all the visual elements that users see and use in the web application, as well as all the web services and APIs that are necessary to power the front-end</p>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="~/Content/Images/HomePage/teampik/3.png" alt="team member" />
                            <h4>Karlo Augusto</h4>
                            <h5>Sr. Developer</h5>
                            <p>Develops information systems by studying operations; designing, developing, and installing software solutions; supports and develops software team.</p>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="~/Content/Images/HomePage/teampik/4.png" alt="team member" />
                            <h4>Leovan Aslanian</h4>
                            <h5>Sr. Developer</h5>
                            <p>Gather customer software requirements and develop related software applications and programs.</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!--/#Our-Team-->