@{
    ViewBag.Title = "Contact Us";
}
<h2>Office Information</h2>
<hr class="colorgraph">
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.593775837604!2d-79.74089228467906!3d43.656619360227836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3fdf128f6267%3A0x2a072c3fd7811f3d!2s7899+McLaughlin+Rd%2C+Brampton%2C+ON+L6Y+5H9!5e0!3m2!1sen!2sca!4v1477938122986" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

    <address>
        <b>Address:</b><br />
        7899 McLaughlin Road<br />
        Brampton, Ontario L6Y 5H9<br />
        <abbr title="Phone">P:</abbr>
        905 459 7533
    </address>
</div>
<hr class="colorgraph">
<address>
    <strong>Developers:</strong>
    <ul>
        <li><a href="mailto:shashankaingh@gmail.com">shashankaingh@gmail.com</a></li>
        <li><a href="mailto:leovanaslanian@gmail.com">leovanaslanian@gmail.com</a></li>
        <li><a href="mailto:rohitdutta@gmail.com">dronutta@gmail.com</a></li>
        <li><a href="mailto:karlodelamerced@gmail.com">karlodelamerced@gmail.com</a></li>
    </ul>
</address>
