@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    7899 McLaughlin Road<br />
    Brampton, Ontario L6Y 5H9<br />
    <abbr title="Phone">P:</abbr>
    905 459 7533
</address>

<address>
    <strong>Developers:</strong>
    <ul>
        <li><a href="mailto:shashankaingh@gmail.com">shashankaingh@gmail.com</a></li>
        <li><a href="mailto:leovanaslanian@gmail.com">leovanaslanian@gmail.com</a></li>
        <li><a href="mailto:rohitdutta@gmail.com">dronutta@gmail.com</a></li>
        <li><a href="mailto:karlodelamerced@gmail.com">karlodelamerced@gmail.com</a></li>
    </ul>
</address>