@model CapstoneProject.Models.ViewModels.ProjectMatchGroup
@{
    ViewBag.Title = "ProjectMatch";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container ">
            <div class="row">
                <div class="col-md-10" height:auto;">
                    <h2>Project Match</h2>
                </div>
                <div class="col-md-2" height:auto;">
                    <input style="margin-top:15px;" type="submit" name="button" value="Save" class="btn btn-default" />    <span style="color:red"> @ViewBag.SubmitError </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" height:auto;">
                    <div class="panel-group" id="accordion">
                        @{
                            var groupList = Model.Groups.ToList();
                            for (int i = 0, len = groupList.Count(); i < len; i++)
                            {
                                if (!groupList[i].Status.Equals("Assigned"))
                                {
                                    @Html.Partial("_Groups", groupList[i])

                                }
                            }
                        }
                    </div>
                </div>

                <div class="col-md-6" height:auto;">
                    <div class="panel-group" id="accordion">
                        @{
                            var projList = Model.Projects.ToList();
                            for (int i = 0, len = projList.Count(); i < len; i++)
                            {
                                if (!projList[i].State.Equals("Assigned"))
                                {
                                    @Html.Partial("_ProjectDetail", projList[i])
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
  
}



