body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}


.navbar-brand {
 margin: 0 auto;
}

.navbar {
top: 0px;
}


.account-type-container {
 margin: 0 auto;	
}

.form-horizontal {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

table {
 margin: 0 auto;
}

footer {
  text-align: center;
}
