
@{
    ViewBag.Title = "Account Type";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">.
        <h2>What type of account would you like to register as?</h2>
        <hr class="colorgraph">
        <table style="width:100%;">            
            <tr>
                <td>
                    <img src="~/Content/Images/icons-png/"
                    <input class="btn btn-primary" type="submit" name="accounttype" value="Student" />
                </td>

                <td><input class="btn btn-primary" type="submit" name="accounttype" value="Client" /></td>

                <td> @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-danger" })</td>
            </tr>
        </table>
    </div>
}

