
@{
    ViewBag.Title = "Account Type";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Choose an account type:</h2>
        <hr />
        <table>
            <tr><td><p></p></td></tr>
            <tr><td><p></p></td></tr>
            <tr>
                <td><font color="Black"><input type="submit" name="accounttype" value="Student" /></font></td>
            </tr>
            <tr><td><p></p></td></tr>
            <tr><td><p></p></td></tr>
            <tr>
                <td><font color="Black"><input type="submit" name="accounttype" value="Client" /></font></td>
            </tr>
            <tr><td><p></p></td></tr>
            <tr><td><p></p></td></tr>
            <tr>
                <td>@Html.ActionLink("Cancel", "Index", "Home", null, new { @class="btn btn-info" })</td>
            </tr>
        </table>
    </div>
}

