@{
    ViewBag.Title = "Registration Successful";
}
<h2>Registration Successful</h2>
<p>Welcome to Capstone Portal</p>
<p>
    Would you like to login? @Html.ActionLink("Login",
"Login", "Account")
</p>