
@{
    ViewBag.Title = "Account Type";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">.
        <h2>What type of account would you like to register as?</h2>
        <hr class="colorgraph">
        <table style="width:100%;">            
            <tr>
                <td>
                    <img style="width:80%; height:80%;" src="~/Content/Images/custom-img/student.png"/> <br />
                    <input class="btn btn-primary" type="submit" name="accounttype" value="Student" />
                </td>
                <td></td>
                <td>
                    <img style="width:80%; height:80%;" src="~/Content/Images/custom-img/client.png" /><br />
                    <input class="btn btn-primary" type="submit" name="accounttype" value="Client" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td> @Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-danger" })</td>
            </tr>
        </table>
    </div>
}

