@{
    ViewBag.Title = "Terms And Condition";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
            <h2 id="center-item">Terms And Condition</h2>
        <div class="toc">
            <hr class="colorgraph">
            <div>
                <p>
                    <b>Condition:</b> Sheridan operates and maintains this website, www.sheridancollege.ca, including all content thereon (the "Site"). By accessing, browsing or using the Site, you accept and agree to these terms and conditions (the "Terms"). Sheridan may amend the Terms at any time without notice. It is your responsibility to review the Terms each time you use the Site. Please exit the Site immediately if you do not accept or agree to the Terms. <br />
                </p>
                <p>
                    <b>Use: </b>You shall not, without our prior written permission use the Site for purposes other than your own personal, non-commercial use. Further, you may not frame the Site or any part thereof on any internet website.  You acquire absolutely no rights or licenses to the Site other than the limited right to use the Site in accordance with the Terms. You shall not use the Site for any purpose except as expressly provided herein.
                </p>
                <b> Policy Disclaimer: </b> I acknowledge by logging into this system that I am aware of Sheridan College's Acceptable Use Policy and confirm that I will comply with all college policies as related to the use of this system.
            </div>
            <hr class="colorgraph">
        </div>
        <div id="center-item" class="form-group">
            <input type="submit" name="button" value="Yes" class="btn btn-info" />
            <input type="submit" name="button" value="No" class="btn btn-default" />
        </div>
    </div>
}